<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>List Bill</h2>
    <div *ngFor="let bill of listBills">
      <div class="well">
        <div>
          <label>Product name</label>
          {{bill.productname}}
        </div>

        <div>
          <label>Price</label>
          {{bill.productprice}}
        </div>

        <div>
          <label>Number</label>
          {{bill.number}}
        </div>

        <div>
          <label>Time</label>
          {{bill.time}}
        </div>
      </div>
    </div>
  </div>

</div>
