<div class="row">
  <div class="col-sm-1">

  </div>
  <div class="col-sm-6">
    <div>
      <div *ngFor="let product of listProduct">
        <div class="well">
          <!--<div>-->
            <!--<label>Product Name</label>-->
            <!--<div>{{product.name}}</div>-->
          <!--</div>-->
          <h2 style="text-align: center">{{product.name}}</h2>
          <div>
            <label>Describe</label>
            {{product.describe}}
          </div>
          <div>
            <label>Price</label>
            {{product.price}}
          </div>
          <!--<div>-->
            <!--<label>ID</label>-->
            <!--<div>{{product._id}}</div>-->
          <!--</div>-->
          <img src="img/pikachu.png">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <!--Create window-->
    <h3>Create New Product</h3>
    <form (ngSubmit) = "createProduct()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name">
      </div>

      <div class="form-group">
        <label>Number</label>
        <input type="text" class="form-control" [(ngModel)]="number" name="number">
      </div>

      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" [(ngModel)]="price" name="price">
      </div>

      <div class="form-group">
        <label>Describe</label>
        <input type="text" class="form-control" [(ngModel)]="describe" name="describe">
      </div>

      <button type="submit" class="btn btn-primary">Create new product</button>
    </form>
  </div>
</div>
