<div class="container">
  <h1>Submit</h1>
  <form (ngSubmit)="createUser()">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="username" name = "username" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
    </div>

    <div class="form-group">
      <label for="fullname">Fullname</label>
      <input type="text" class="form-control" id="fullname" [(ngModel)]="fullname" name="fullname" required>
    </div>

    <div class="form-group">
      <label for="phone">Password</label>
      <input type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone" required>
    </div>

    <div class="form-group">
      <label for="address">Password</label>
      <input type="text" class="form-control" id="address" [(ngModel)]="address" name="address" required>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <!--{{user.username}}-->
</div>
