<div class="container">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name = "username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
  <!--{{user.username}}-->
</div>
