<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-6">
    <div *ngFor="let product of this.listProduct" class="well">
      <div>
        <!--{{product._id}}-->
        <h1>{{product.name}}</h1>
        <!--{{product.username}}-->
        <!--{{product.number}}-->
        <!--{{ product.imgUrl}}-->
        <img [src]="product.imgUrl">
        <div>
          <label>Price</label>
          {{product.price}}
        </div>

        <!--{{product.describe}}-->
        <button class="btn btn-primary" (click)="productDetails(product)">Detail</button>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div>
      <label>Name:</label>
      {{currentProduct.name}}
    </div>

    <div>
      <label>Number</label>
      {{currentProduct.number}}
    </div>

    <div>
      <label>Price</label>
      {{currentProduct.price}}
    </div>

    <div>
      <label>Describe</label>
      {{currentProduct.describe}}
    </div>


    <input [(ngModel)]="number" name="number" type="text">
    <div>
      <label>Total</label>
      {{currentProduct.price*number}}
    </div>

    <button class="btn btn-warning" (click)="createBill()">Create Bill</button>
  </div>

</div>
