<div class="row">
  <div class="col-sm-1">

  </div>
  <div class="col-sm-6">
    Hello, this is post
    <div>
      <div *ngFor="let post of listPost">
        <div class="well">

          <h1>{{post.title}}</h1>

          <button (click)="deletePost(post)" class="btn btn-primary" style="right">Delete</button>
          <br><br>
          <div>
            {{post.content}}
          </div>
          <br><br><br>
          <!--{{post.username}}-->

          <div class="well" style="background: white">
            <div *ngFor="let comment of post.listComment">
              <div class="">
                <h4>{{comment.username}}</h4>
                {{comment.comment}}
                <br>
              </div>
            </div>
          </div>

          <div>
            <form (ngSubmit)="createComment(post)">
              <input [(ngModel)]="comment" type="text" name="comment">
              <button class="btn" type="submit">Comment </button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <!--Create window-->
    <h3>Create New Post</h3>
    <form (ngSubmit) = "createPost()">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" [(ngModel)]="title" name="title">
      </div>

      <!--<div class="form-group">-->
      <!--<label>Img</label>-->
      <!--<input type="file">-->
      <!--</div>-->

      <div class="form-group">
        <label>Content</label>
        <!--<input type="text" class="form-control" [(ngModel)]="content" name="content">-->
        <textarea class="form-control" [(ngModel)]="content" name="content" style="height: 200px;"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Create new post</button>
    </form>
  </div>
</div>

